.btn-green{
  background-color: #3AC162;
  color: white;
  border: 1px solid #3AC162;
  border-radius: 5px;
  padding: 15px 30px;
  font-weight: bold;
  transition: .5s;
}

.btn-green:hover{
  background-color: #347928;
  color: white;
  border: 1px solid #347928;
}
